body {
    background-color: rgba(16, 32, 47);
}

h1 {
    color:rgba(147, 112, 38)
}

h3 {
    color: rgb(193, 200, 206);
}

h4 {
    color: #000;
}


.places {
    width: 100%;
    background-color:rgba(61, 89, 139);
}

.place {
    display: inline-block;
    width: 49%;
    vertical-align: top;


}

.text {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.places img {
    display: inline-block;
    width: 48%;
    height: 200px;
    object-fit: cover;
}